.dx-badge-example {
  display: flex;
  align-items: center;
  gap: var(--dx-space-4);
}

.dx-badge {
  display: inline-flex;
  min-width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 0 0 1px var(--primary-color-2);
  font-size: var(--dx-text-xs);
  gap: var(--dx-space-1)
}

.dx-badge[padding="true"] {
  padding: 0 var(--dx-space-2);
}

.dx-badge[data-style="primary"] {
  background-color: var(--dx-primary-alt);
  color: var(--dx-primary-foreground);
}

.dx-badge[data-style="secondary"] {
  background-color: var(--dx-secondary);
  color: var(--dx-secondary-foreground);
}

.dx-badge[data-style="outline"] {
  border: 1px solid var(--dx-border);
  background-color: var(--dx-card);
  color: var(--dx-foreground);
}

.dx-badge[data-style="destructive"] {
  background-color: var(--dx-destructive);
  color: var(--dx-destructive-foreground);
}
